.dz-progress, .dz-error-message, .dz-success-mark, .dz-error-mark, .dz-details {
  display: none;
}

.dz-started {
  display: flex;
  align-items: center;
  color: #000;
}

.dz-preview {
  padding: 5px 20px 5px 0;
}

.dz-image img {
  height: 60px;
  border-radius: 5px;
}

.dz-file-preview {
  //height: 80px;

  .dz-image {
    height: 60px;
    width: 60px;
    background: url("../images/file.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: contain;
    cursor: pointer;
    border-radius: 5px;

    &::after {
      position: absolute;
      display: block;
      content: url("../images/urn.png");
      top: 0;
      left: 0;
      height: 60px;
      width: 60px;
      border-radius: 5px;
      background-color: $primary-color;
      line-height: 60px;
      opacity: 0;
    }


    &:hover, &:focus {
      &::after {
        position: absolute;
        display: block;
        content: url("../images/urn.png");
        top: 0;
        left: 0;
        height: 60px;
        width: 60px;
        border-radius: 5px;
        background-color: $primary-color;
        line-height: 62px;
        opacity: 1;
        transition: 0.7s;
      }
    }

    >div {
      height: 60px;
      width: 60px;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0.5);

    }
  }
}

.dz-remove {
  font-size: 10px;
}
