
body {
  font-family: $global-font-family;
  font-size: $global-font-size;
  color: $default-color;
}

h1 {
  font-size: $heading-font-size;
  color: $default-color;
  font-weight: bold;
}

h6 {
  font-family: $global-font-family;
  font-size: $global-font-size;
  color: $global-color;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.tm-button {
  font-size: $global-font-size;
  font-weight: bold;
  text-transform: none;
}

.tm-button-default {
  width: 140px;
  height: 40px;

  background-color: $default-color;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1);

  color: $global-color;
}

.tm-button-primary {
  width: 190px;
  height: 40px;

  background-color: $primary-color;

  color: $default-color;
}

.tm-background-gradient {
  background: linear-gradient(249deg, #c32aff, #9013fe);
}

.tm-background-modal {
  background-color: $modal-background;
}

.tm-input {
  color: $global-color;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.03);
  border: none;
}

.tm-modal-close {
  top: 25px;
  right: -20px;
}

/* The switch - the box around the slider */
.tm-switch {
  position: relative;
  display: inline-block;
  width: 30px; //60px;
  height: 15px; //34px;
  min-width: 30px;
}

/* Hide default HTML checkbox */
.tm-switch input {
  display: none;
}

/* The slider */
.tm-sliderbox {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.tm-sliderbox:before {
  position: absolute;
  content: "";
  height: 11px; //26px;
  width: 11px; //26px;
  left: 2px; //4px;
  bottom: 2px; //4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .tm-sliderbox {
  background-color: $primary-color;
}

input:focus + .tm-sliderbox {
  box-shadow: 0 0 1px $primary-color;
}

input:checked + .tm-sliderbox:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.tm-sliderbox.tm-sliderbox-round {
  border-radius: 15px;
}

.tm-sliderbox.tm-sliderbox-round:before {
  border-radius: 50%;
}

.tm-small-font-size {
  font-size: $small-font-size;
}

.tm-color-global {
  color: $global-color;
}

.tm-modal-close {
  svg {
    display: none;
  }
}

//select2 section
.select2-results__option {
  color: $global-color;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $primary-color;
  color: $default-color;
}

.select2-dropdown {
  transform: translateY(10px);
}

.select2-container--default .select2-selection--single {
  border: none;
  border-radius: 5px;
  padding-right: 20px;
}

.select2-container .select2-selection--single {
  height: 40px;
  width: auto;
  position: relative;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: $global-color;
  line-height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 38px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 60px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
  height: auto;
  left: 75%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 25%;
  width: auto;

  &:before {
    content: '\f078';
    display: block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: $primary-color;
  }
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border: none;

  &:before {
    content: '\f077';
  }
}

//end of select2

.tm-plus-position-one {
  position: absolute;
  top: -30px;
  left: -5px;
  font-size: 20px;
}

.tm-plus-position-two {
  position: absolute;
  top: 355px;
  left: -25px;
}

.tm-plus-position-three {
  position: absolute;
  top: 80px;
  right: -30px;
  font-size: 32px;
}

.tm-plus-position-four {
  position: absolute;
  top: 470px;
  right: -25px;
  font-size: 46px;
}

.tm-dot-position-one {
  position: absolute;
  top: -15px;
  left: 500px;
  font-size: 12px;
}

.tm-dot-position-two {
  position: absolute;
  top: 450px;
  left: 900px;
  font-size: 10px;
}

.tm-dot-position-three {
  position: absolute;
  top: 280px;
  right: -40px;
  font-size: 10px;
}

.tm-font-global {
  color: $global-color;
}

//dz restyling
.dropzone {
  min-height: auto;
  border: none;
  background: transparent;
  padding: 0;
}

.dropzone .dz-message {
  display: none;
}

//dz end

.tm_btn_dots {
  font-size: 8px;
  color: $primary-color;
  i {
    padding: 0 3px;
  }
}

//tooltip

.jtooltip-inner {
  background-color: $default-color;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  color: $global-color;
}

.tm-tooltip {
  padding: 5px 0;
  cursor: pointer;
  border-bottom: 1px dashed;
}

.jtooltip-t .jtooltip-arrow {
  -webkit-animation-name: bounce-down;
  animation-name: bounce-down;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

.jtooltip-b .jtooltip-arrow {
  -webkit-animation-name: bounce-up;
  animation-name: bounce-up;
  -webkit-transform-origin: center bottom;
  transform-origin: center top;
}

.jtooltip-r .jtooltip-arrow {
  display: none;
  -webkit-animation-name: bounce-left;
  animation-name: bounce-left;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

.jtooltip-l .jtooltip-arrow {
  display: none;
  -webkit-animation-name: bounce-right;
  animation-name: bounce-right;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

//animate
.animated.delay-custom-1 {
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
}

.animated.delay-custom-2 {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.animated.delay-custom-3 {
  -webkit-animation-delay: 1.75s;
  animation-delay: 1.75s;
}

//tooltips mk 2
.tm-tooltip-trigger {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: transparent;
}

.tm-tooltip-container-5 {
  position: absolute;
  bottom: -90px;
  right: 70px;

  .tm-tooltip-trigger-5 {
    top: -70px;
    left: 290px;
  }
}

.tm-dotline-tooltip-5 {
  visibility: hidden;
  position: relative;
  max-width: 300px;
  color: $default-color;

  &::after {
    position: absolute;
    display: block;
    content: '';
    width: 20px;
    height: 50px;
    top: -40px;
    left: 290px;
    border-bottom: 2px solid #e7aaff;
    border-right: 2px solid #e7aaff;
    border-radius: 5px;
  }

  &::before {
    position: absolute;
    display: block;
    content: '';
    width: 5px;
    height: 5px;
    top: -40px;
    left: 309px;
    background-color: #e7aaff;
    border-radius: 50%;
  }
}

.tm-tooltip-container-4 {
  position: absolute;
  top: -120px;
  left: 390px;

  .tm-tooltip-trigger-4 {
    bottom: -120px;
    left: -20px;
  }
}

.tm-dotline-tooltip-4 {
  visibility: hidden;
  position: relative;
  max-width: 300px;
  color: $default-color;

  &::after {
    position: absolute;
    display: block;
    content: '';
    width: 0;
    height: 110px;
    bottom: -120px;
    left: 0;
    border-right: 2px solid #e7aaff;
  }

  &::before {
    position: absolute;
    display: block;
    content: '';
    width: 5px;
    height: 5px;
    bottom: -120px;
    left: -2px;
    background-color: #e7aaff;
    border-radius: 50%;
  }
}

.tm-tooltip-container-3 {
  position: absolute;
  top: -120px;
  left: 225px;

  .tm-tooltip-trigger-3 {
    bottom: -300px;
    left: 0;
  }
}

.tm-dotline-tooltip-3 {
  visibility: hidden;
  position: relative;
  max-width: 250px;
  color: $default-color;

  &::after {
    position: absolute;
    display: block;
    content: '';
    width: 0;
    height: 290px;
    bottom: -300px;
    left: 20px;
    border-right: 2px solid #e7aaff;
  }

  &::before {
    position: absolute;
    display: block;
    content: '';
    width: 5px;
    height: 5px;
    bottom: -300px;
    left: 18px;
    background-color: #e7aaff;
    border-radius: 50%;
  }
}

.tm-tooltip-container-2 {
  position: absolute;
  top: -120px;
  left: 160px;

  .tm-tooltip-trigger-2 {
    bottom: -240px;
    left: 0;
  }
}

.tm-dotline-tooltip-2 {
  visibility: hidden;
  position: relative;
  max-width: 250px;
  color: $default-color;

  &::after {
    position: absolute;
    display: block;
    content: '';
    width: 0;
    height: 230px;
    bottom: -240px;
    left: 20px;
    border-right: 2px solid #e7aaff;
  }

  &::before {
    position: absolute;
    display: block;
    content: '';
    width: 5px;
    height: 5px;
    bottom: -240px;
    left: 18px;
    background-color: #e7aaff;
    border-radius: 50%;
  }
}

.tm-tooltip-container-1 {
  position: absolute;
  top: -120px;
  left: 80px;

  .tm-tooltip-trigger-1 {
    bottom: -130px;
    left: 0;
  }
}

.tm-dotline-tooltip-1 {
  visibility: hidden;
  position: relative;
  max-width: 250px;
  color: $default-color;

  &::after {
    position: absolute;
    display: block;
    content: '';
    width: 0;
    height: 140px;
    bottom: -130px;
    left: 20px;
    border-right: 2px solid #e7aaff;
  }

  &::before {
    position: absolute;
    display: block;
    content: '';
    width: 5px;
    height: 5px;
    bottom: -130px;
    left: 18px;
    background-color: #e7aaff;
    border-radius: 50%;
  }
}

//wavify
.wave {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.wave + .wave {
  z-index: 2;
}

.tm-z-100 {
  z-index: 100;
}

@media (max-width: 1199px) {
  .tm-tooltip-container-5 {
    bottom: -70px;
  }

  .tm-tooltip-container-4 {
    left: 370px;
  }

  .tm-dotline-tooltip-4 {

    &::after {
      height: 100px;
      bottom: -110px;
    }

    &::before {
      bottom: -110px;
    }
  }

  .tm-tooltip-container-3 {
     left: 200px;
   }

  .tm-dotline-tooltip-3 {

    &::after {
      height: 270px;
      bottom: -280px;
    }

    &::before {
      bottom: -280px;
    }
  }

  .tm-tooltip-container-2 {
    left: 150px;
  }

  .tm-tooltip-container-1 {
    left: 80px;
  }
}

@media (max-width: 1139px) {
  .tm-tooltip-container-5 {
    top: 370px;
  }

  .tm-tooltip-container-4 {
    left: 350px;
  }

  .tm-dotline-tooltip-4 {

    &::after {
      height: 90px;
      bottom: -100px;
    }

    &::before {
      bottom: -100px;
    }
  }
}

@media (max-width: 1100px) {
  .tm-tooltip-container-5 {
    top: 350px;
  }

  .tm-tooltip-container-4 {
    left: 300px;

    .tm-tooltip-trigger-4 {
      bottom: -80px;
    }
  }

  .tm-dotline-tooltip-4 {

    &::after {
      height: 70px;
      bottom: -80px;
    }

    &::before {
      bottom: -80px;
    }
  }

  .tm-tooltip-container-3 {
    left: 180px;

    .tm-tooltip-trigger-3 {
      bottom: -240px;
      left: 0;
    }
  }

  .tm-dotline-tooltip-3 {

    &::after {
      height: 230px;
      bottom: -240px;
    }

    &::before {
      bottom: -240px;
    }
  }

  .tm-tooltip-container-2 {
    left: 140px;

    .tm-tooltip-trigger-2 {
      bottom: -220px;
      left: 0;
    }
  }

  .tm-dotline-tooltip-2 {

    &::after {
      height: 210px;
      bottom: -220px;
    }

    &::before {
      bottom: -220px;
    }
  }

  .tm-tooltip-container-1 {
    left: 80px;
  }

  .tm-dotline-tooltip-1 {
    &::after {
      height: 130px;
      bottom: -120px;
    }

    &::before {
      bottom: -120px;
    }
  }
}

@media (max-width: 1059px) {
  .tm-tooltip-container-5 {
    top: 330px;
  }
}

@media (max-width: 989px) {
  .tm-tooltip-container-5 {
    top: 310px;
  }

  .tm-tooltip-container-4 {
    left: 300px;
  }

  .tm-tooltip-container-3 {
    left: 180px;
  }

  .tm-dotline-tooltip-3 {

    &::after {
      height: 210px;
      bottom: -220px;
    }

    &::before {
      bottom: -220px;
    }
  }

  .tm-tooltip-container-2 {
    left: 130px;
  }

  .tm-dotline-tooltip-2 {

    &::after {
      height: 200px;
      bottom: -210px;
    }

    &::before {
      bottom: -210px;
    }
  }

  .tm-tooltip-container-1 {
    left: 70px;
  }

  .tm-dotline-tooltip-1 {
    &::after {
      height: 130px;
      bottom: -120px;
    }

    &::before {
      bottom: -120px;
    }
  }
}

@media (max-width: 959px) {
  .tm-tooltip-container-5 {
    display: none;
  }

  .tm-tooltip-container-4 {
    display: none;
  }

  .tm-tooltip-container-3 {
    display: none;
  }

  .tm-tooltip-container-2 {
    display: none;
  }

  .tm-tooltip-container-1 {
    display: none;
  }
}







