body {
  font-family: $global-font-family;
  font-size: $global-font-size;
  color: $default-color;
}

h1 {
  font-family: $global-font-family;
  font-size: $heading-font-size;
  color: $default-color;
  font-weight: bold;
}

h2 {
  font-family: $global-font-family;
  font-size: $heading-font-size;
  color: $global-color;
  font-weight: bold;
}

h6 {
  font-family: $global-font-family;
  font-size: $global-font-size;
  color: $global-color;
  font-weight: bold;
  line-height: 1.44;
  padding: 0;
  margin: 0;
}

.tm-text-small {
  font-size: $small-font-size;
  line-height: 1.57;
}

.jtooltip {
  font-size: 16px;
  line-height: 1.44;
}

.tm-button {
  font-size: $global-font-size;
  font-weight: bold;
  text-transform: none;
}

.tm-button-default {
  width: 140px;
  height: 40px;

  background-color: $default-color;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1);

  color: $global-color;

  &:hover, &:focus {
    background-color: $primary-color;
    color: $default-color;
    transition: 0.7s;
  }
}

.tm-button-primary {
  width: 190px;
  height: 40px;

  background-color: $primary-color;

  color: $default-color;

  &:hover, &:focus {
    background-color: #ab1acf;
    color: $default-color;
    transition: 0.7s;
  }
}

.tm-background-gradient {
  background: linear-gradient(249deg, #c32aff, #9013fe);
}

.tm-background-modal {
  background-color: $modal-background;
}

.tm-input {
  color: $global-color;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.03);
  border: none;
}

.tm-modal-close {
  top: 25px;
  right: -20px;
}

/* The switch - the box around the slider */
.tm-switch {
  position: relative;
  display: inline-block;
  width: 30px; //60px;
  height: 15px; //34px;
  min-width: 30px;
}

/* Hide default HTML checkbox */
.tm-switch input {
  display: none;
}

/* The slider */
.tm-sliderbox {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.tm-sliderbox:before {
  position: absolute;
  content: "";
  height: 11px; //26px;
  width: 11px; //26px;
  left: 2px; //4px;
  bottom: 2px; //4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .tm-sliderbox {
  background-color: $primary-color;
}

input:focus + .tm-sliderbox {
  box-shadow: 0 0 1px $primary-color;
}

input:checked + .tm-sliderbox:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.tm-sliderbox.tm-sliderbox-round {
  border-radius: 15px;
}

.tm-sliderbox.tm-sliderbox-round:before {
  border-radius: 50%;
}

.tm-small-font-size {
  font-size: $small-font-size;
}

.tm-color-global {
  color: $global-color;
}

.tm-modal-close {
  svg {
    display: none;
  }
}

//select2 section
.select2-results__option {
  color: $global-color;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $primary-color;
  color: $default-color;
}

.select2-dropdown {
  transform: translateY(10px);
}

.select2-container--default .select2-selection--single {
  border: none;
  border-radius: 5px;
  padding-right: 20px;
}

.select2-container .select2-selection--single {
  height: 40px;
  width: auto;
  position: relative;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: $global-color;
  line-height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 38px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 60px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
  height: auto;
  left: 75%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 25%;
  width: auto;

  &:before {
    content: '\f078';
    display: block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: $primary-color;
  }
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border: none;

  &:before {
    content: '\f077';
  }
}

//end of select2

.tm-plus-position-one {
  position: absolute;
  top: -30px;
  left: -5px;
  font-size: 20px;
}

.tm-plus-position-two {
  position: absolute;
  top: 355px;
  left: -25px;
}

.tm-plus-position-three {
  position: absolute;
  top: 80px;
  right: -30px;
  font-size: 32px;
}

.tm-plus-position-four {
  position: absolute;
  top: 470px;
  right: -25px;
  font-size: 46px;
}

.tm-dot-position-one {
  position: absolute;
  top: -15px;
  left: 500px;
  font-size: 12px;
}

.tm-dot-position-two {
  position: absolute;
  top: 450px;
  left: 900px;
  font-size: 10px;
}

.tm-dot-position-three {
  position: absolute;
  top: 280px;
  right: -40px;
  font-size: 10px;
}

.tm-font-global {
  color: $global-color;
}

//dz restyling
.dropzone {
  min-height: auto;
  border: none;
  background: transparent;
  padding: 0;
}

.dropzone .dz-message {
  display: none;
}

//dz end

.tm_btn_dots {
  font-size: 8px;
  color: $primary-color;
  i {
    padding: 0 3px;
  }
}

.tm-pointer {
  cursor: pointer;
}

.tm-hidden {
  display: none;
}
//tooltip

.jtooltip-inner {
  background-color: $default-color;
  width: 315px;
  min-width: 300px;
  padding: 15px;
  border-radius: 5px;
  color: $global-color;
}

@keyframes movement {
  from {bottom: 0;}
  50% {bottom: -2px;}
  to {bottom: 0;}
}

.tm-tooltip {
  position: relative;
  padding: 5px 0;
  cursor: pointer;
  border-bottom: 1px dashed;
  &:hover {
    &::after {
      animation: movement 200ms 10;
      //bottom: -2px;
    }
  }

  &::after {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    border-bottom: 1px dashed #fff;
    bottom: 0;
    left: -3px;
  }
}

.jtooltip-t .jtooltip-arrow {
  -webkit-animation-name: bounce-down;
  animation-name: bounce-down;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

.jtooltip-b .jtooltip-arrow {
  -webkit-animation-name: bounce-up;
  animation-name: bounce-up;
  -webkit-transform-origin: center bottom;
  transform-origin: center top;
}

.jtooltip-r .jtooltip-arrow {
  display: none;
  -webkit-animation-name: bounce-left;
  animation-name: bounce-left;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

.jtooltip-l .jtooltip-arrow {
  display: none;
  -webkit-animation-name: bounce-right;
  animation-name: bounce-right;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

//animate
.animated.delay-custom-1 {
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
}

.animated.delay-custom-2 {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.animated.delay-custom-3 {
  -webkit-animation-delay: 1.75s;
  animation-delay: 1.75s;
}

//tooltips mk 2
.tm-tooltip-trigger {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: transparent;
  display: block;

  .tm-dotline-tooltip {
    display: none;
    position: absolute;
    max-width: 250px;
    min-width: 220px;
    color: $default-color;

    &::before {
      position: absolute;
      display: block;
      content: '';
      border-right: 1px solid #d81cff;
    }

    &::after {
      position: absolute;
      display: block;
      content: '';
      width: 5px;
      height: 5px;
      background-color: #d81cff;
      border-radius: 50%;
    }

    > div {
      &::before {
        position: absolute;
        display: block;
        content: '';
        border-right: 1px solid $default-color;
      }
    }
  }

  &:hover {
    .tm-dotline-tooltip {
      display: block;
    }
  }
}

.tm-tooltip-trigger-1 {
  top: 53px;
  left: 21px;
  width: 151px;

  .tm-dotline-tooltip {
    top: -155px;
    left: 65px;

    &::before {
      height: 114px;
      top: 45px;
      left: 3px;
    }

    &::after {
      top: 158px;
      left: 1px;
    }
    > div {
      &::before {
        height: 97px;
        top: 45px;
        left: 3px;
      }
    }
  }
}

.tm-tooltip-trigger-2 {
  top: 160px;
  left: 100px;
  width: 151px;

  .tm-dotline-tooltip {
    top: -260px;
    left: 65px;

    &::before {
      height: 230px;
      top: 45px;
      left: 3px;
    }

    &::after {
      top: 273px;
      left: 1px;
    }
    > div {
      &::before {
        height: 95px;
        top: 45px;
        left: 3px;
      }
    }
  }
}

.tm-tooltip-trigger-3 {
  top: 250px;
  left: 170px;
  width: 151px;

  .tm-dotline-tooltip {
    top: -350px;
    left: 65px;

    &::before {
      height: 290px;
      top: 70px;
      left: 3px;
    }

    &::after {
      top: 358px;
      left: 1px;
    }
    > div {
      &::before {
        height: 32px;
        top: 68px;
        left: 3px;
      }
    }
  }
}

.tm-tooltip-trigger-4 {
  top: 60px;
  left: 300px;
  width: 151px;

  .tm-dotline-tooltip {
    top: -155px;
    left: 65px;

    &::before {
      height: 114px;
      top: 45px;
      left: 3px;
    }

    &::after {
      top: 158px;
      left: 1px;
    }
    > div {
      &::before {
        height: 90px;
        top: 45px;
        left: 3px;
      }
    }
  }
}

.tm-tooltip-trigger-5 {
  top: 335px;
  left: 390px;
  width: 151px;

  .tm-dotline-tooltip {
    top: 70px;
    left: -160px;

    &::before {
      height: 16px;
      top: -33px;
      left: 260px;
    }

    &::after {
      top: -37px;
      left: 258px;
    }
    > div {
      &::before {
        width: 20px;
        height: 29px;
        top: -17px;
        left: 240px;
        border-bottom: 1px solid $default-color;
        border-radius: 5px 0;
      }
    }
  }
}

.tm-font-tooltip {
  font-size: $small-font-size;
  line-height: 1.64;
}

//wavify
.wave {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.wave + .wave {
  z-index: 2;
}

.tm-z-100 {
  z-index: 100;
}

@media (max-width: 1234px) {
  //@media (max-width: 1199px)
  .tm-tooltip-trigger-1 {
    left: 0;
    display: none;
  }

  .tm-tooltip-trigger-2 {
    left: 0;
    display: none;
  }

  .tm-tooltip-trigger-3 {
    left: 0;
    display: none;
  }

  .tm-tooltip-trigger-4 {
    left: 0;
    display: none;
  }

  .tm-tooltip-trigger-5 {
    left: 0;
    display: none;
  }
}

@media (max-width: 1139px) {
  .tm-tooltip-trigger-1 {
    left: 0;
  }

  .tm-tooltip-trigger-2 {
    left: 0;
  }

  .tm-tooltip-trigger-3 {
    left: 0;
  }

  .tm-tooltip-trigger-4 {
    left: 0;
  }

  .tm-tooltip-trigger-5 {
    left: 0;
  }
}

@media (max-width: 1100px) {
  .tm-tooltip-trigger-1 {
    left: 0;
  }

  .tm-tooltip-trigger-2 {
    left: 0;
  }

  .tm-tooltip-trigger-3 {
    left: 0;
  }

  .tm-tooltip-trigger-4 {
    left: 0;
  }

  .tm-tooltip-trigger-5 {
    left: 0;
  }
}

@media (max-width: 1059px) {
  .tm-tooltip-trigger-1 {
    left: 0;
  }

  .tm-tooltip-trigger-2 {
    left: 0;
  }

  .tm-tooltip-trigger-3 {
    left: 0;
  }

  .tm-tooltip-trigger-4 {
    left: 0;
  }

  .tm-tooltip-trigger-5 {
    left: 0;
  }
}

@media (max-width: 989px) {
  .tm-tooltip-trigger-1 {
    left: 0;
  }

  .tm-tooltip-trigger-2 {
    left: 0;
  }

  .tm-tooltip-trigger-3 {
    left: 0;
  }

  .tm-tooltip-trigger-4 {
    left: 0;
  }

  .tm-tooltip-trigger-5 {
    left: 0;
  }
}

@media (max-width: 959px) {
  .tm-tooltip-trigger {
    display: none;
  }
}



///////
.lds-ring {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-ring-big {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
}
.lds-ring-big div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 240px;
  height: 240px;
  margin: 30px;
  border: 30px solid grey;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: grey transparent transparent transparent;
}
.lds-ring-big div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring-big div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring-big div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.plus-btn {
  width: 60px;
  height: 60px;
  background-color: $default-color;
  color: $primary-color;
  line-height: 60px;
  cursor: pointer;
  border-radius: 5px;

  &:hover, &:focus {
    background-color: $primary-color;
    color: $default-color;
    transition: 0.7s;
  }
}

.tm-filenames {
  top: -60px;
  left: 0;
  padding: 0 5px;
  height: 30px;
  min-width: 270px;
  background-color: $default-color;
  color: $global-color;
  border-radius: 5px;
  line-height: 28px;
}

.tm-patch {
  height: 25px;
}

.tm-text-global {
  color: $global-color;
}

.has-error {
  border: solid 1px red;
}

.tm-background-animation {
animation: bg-anim 1s;
}

@keyframes bg-anim {
  0% {
    width: 110%;
  }
  100% {
    width: 100%;
  }
}