$global-font-family: 'PT Sans', sans-serif;

$global-color: #000000;
$default-color: #ffffff;
$primary-color: #d81cff;

$modal-background: #f1f5fa;

$global-font-size: 16px;
$small-font-size: 14px;
$heading-font-size: 28px;