@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic");
body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  color: #ffffff; }

h1 {
  font-size: 28px;
  color: #ffffff;
  font-weight: bold; }

.tm-button {
  font-size: 16px;
  font-weight: bold;
  text-transform: none; }

.tm-button-default {
  width: 140px;
  height: 40px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1);
  color: #000000; }

.tm-button-primary {
  width: 190px;
  height: 40px;
  background-color: #d81cff;
  color: #ffffff; }

.tm-background-gradient {
  background: linear-gradient(249deg, #c32aff, #9013fe); }

.tm-background-modal {
  background-color: #f1f5fa; }

.tm-input {
  color: #000000;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.03);
  border: none; }

.tm-modal-close {
  top: 25px;
  right: -20px; }

/* The switch - the box around the slider */
.tm-switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px; }

/* Hide default HTML checkbox */
.tm-switch input {
  display: none; }

/* The slider */
.tm-sliderbox {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.tm-sliderbox:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .tm-sliderbox {
  background-color: #d81cff; }

input:focus + .tm-sliderbox {
  box-shadow: 0 0 1px #d81cff; }

input:checked + .tm-sliderbox:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px); }

/* Rounded sliders */
.tm-sliderbox.tm-sliderbox-round {
  border-radius: 15px; }

.tm-sliderbox.tm-sliderbox-round:before {
  border-radius: 50%; }

.tm-small-font-size {
  font-size: 14px; }

.tm-color-global {
  color: #000000; }

.tm-modal-close svg {
  display: none; }

.select2-results__option {
  color: #000000; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #d81cff;
  color: #ffffff; }

.select2-dropdown {
  transform: translateY(10px); }

.select2-container--default .select2-selection--single {
  border: none;
  border-radius: 5px;
  padding-right: 20px; }

.select2-container .select2-selection--single {
  height: 40px;
  width: auto;
  position: relative; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #000000;
  line-height: 40px; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 38px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 60px; }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
  height: auto;
  left: 75%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 25%;
  width: auto; }
  .select2-container--default .select2-selection--single .select2-selection__arrow b:before {
    content: '\f078';
    display: block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #d81cff; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border: none; }
  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before {
    content: '\f077'; }

/*# sourceMappingURL=main.css.map */
